.nav {
    background-color: #f1f3ff;
    text-align: right;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding-bottom: 200px;
    padding-right: 50px;
}

li {
    display: inline;
}

li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
}

li button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

li a:hover:not(.active) {
    background-color: #e0e0e0;
}
